Repository andrewdimmer/csi-3370-software-project-config-test, pull requests merged in 2020-11, with the labels that each got.

#41 [Admin] Added Remaining Teammates to Teams.md and Issue Templates
  .github/ISSUE_TEMPLATE/display_02-sprint-tasks.md
  .github/ISSUE_TEMPLATE/middleware_01-sprint-tasks.md
  .github/ISSUE_TEMPLATE/middleware_02-sprint-tasks.md
  Teams.md
Labels: Admin, documentation

#52 [Middleware02] Github Practice
  source/edu/oakand/practice/middleware02/NMoua-Edu/Junit5ExampleTest.java
Labels: Middleware_02

#44 [Display_01] Create Junit5ExampleTest.java
  source/edu/oakand/test/display01/JUnit5ExampleTest.java~
  source/edu/oakand/test/display01/Junit5ExampleTest.java
Labels: Display_01, bug, enhancement

#62 Create Junit5ExampleM2P1Test.java
  source/edu/oakand/practice/middleware02/tomtomtomcat/Junit5ExampleM2P1Test.java
Labels: Middleware_02

#60 Created JunitPractice.java
  source/edu/oakand/practice/middleware02/nbergamin123/JunitPractice.java
Labels: Middleware_02

#69 [Display01] Create JUnit5ExampleTest class
  source/edu/oakand/practice/Display01/stevecatherman/Junit5ExampleTest.java
Labels: Display_01, bug, good first issue

#80 [Admin] Auto Generate PlantUML Diagrams on Push
  .github/workflows/generate-plantuml-diagrams.yml
Labels: Admin

#82 [Admin] Added Manual Triggers to Checks
  .github/workflows/checkstyle.yml
  .github/workflows/javac-build.yml
Labels: Admin

#85 [Middleware 2] mckenzie practice commit
  source/edu/oakand/practice/middleware02/mckenzieking/JunitPractice.java
Labels: Middleware_02, bug, enhancement
