Repository andrewdimmer/csi-3370-software-project-config-test, pull requests merged in 2020-10, with the labels that each got.

#10 Start version control docs
  .gitignore
  bin/.gitignore
  docs/README.md
  docs/version-control/README.md
Labels: Admin, documentation

#11 [Admin] Added documentation for writing code
  docs/version-control/README.md
  docs/version-control/WritingCode.md
Labels: Admin, documentation

#12 [Admin] Added code review documentation
  docs/version-control/CodeReviews.md
  docs/version-control/README.md
  docs/version-control/WritingCode.md
Labels: Admin, documentation

#13 [Admin] Added issues documentation
  docs/version-control/CodeReviews.md
  docs/version-control/Issues.md
  docs/version-control/README.md
  docs/version-control/WritingCode.md
Labels: Admin, documentation

#14 [Admin] Added GitHub projects documentation
  docs/version-control/GitHubProjects.md
  docs/version-control/Issues.md
  docs/version-control/README.md
Labels: Admin, documentation

#15 [Admin] Add Checkstyle Action
  .github/workflows/checkstyle.yml
Labels: Admin

#17 Create javac-build.yml
  .github/workflows/javac-build.yml
Labels: Admin

#16 Added a sample Java document
  .github/workflows/checkstyle.yml
  source/edu/oakand/helper/middleware01/HelloWorld.java
Labels: Middleware_01, enhancement

#18 [Admin] Updated Java Build and Checkstyle Actions
  .github/workflows/checkstyle.yml
  .github/workflows/javac-build.yml
  source/edu/oakand/helper/middleware01/HelloWorld.java
Labels: Admin

#19 Added JUnit5ExampleTest from Monograph JUnit_01
  .github/workflows/javac-build.yml
  source/edu/oakand/test/middleware01/Junit5ExampleTest.java
Labels: Admin, Middleware_01

#20 [ADMIN] Added JUnit tests to the TOD workflow
  .github/workflows/javac-build.yml
  .github/workflows/label.yml
  source/edu/oakand/test/middleware01/Junit5ExampleTest.java
Labels: Admin

#9 [Admin] Update README.md
  README.md
Labels: documentation

#21 [Admin] Update javac-build.yml
  .github/workflows/javac-build.yml
Labels: Admin

#22 Update issue templates
  .github/ISSUE_TEMPLATE/middleware_01-bug-report.md
  .github/ISSUE_TEMPLATE/middleware_01-sprint-tasks.md
Labels: Admin

#23 [Admin] Update README.md with new repo information
  README.md
Labels: Admin, documentation

#26 [Middleware_01] Create point class
  source/edu/oakand/helper/middleware01/Point.java
  source/edu/oakand/test/middleware01/PointTest.java
Labels: Middleware_01, bug, enhancement

#28 [Middleware_01] Add z to point
  source/edu/oakand/helper/middleware01/Point.java
  source/edu/oakand/test/middleware01/PointTest.java
Labels: Middleware_01, bug

#30 [Admin] Added YouTube Video Links to the Version Control Docs
  docs/version-control/CodeReviews.md
  docs/version-control/GitHubProjects.md
  docs/version-control/Issues.md
  docs/version-control/README.md
  docs/version-control/WritingCode.md
Labels: Admin, documentation

#31 [Admin] Reduced the JUnit Config Overhead for Testing
  .github/workflows/javac-build.yml
Labels: Admin

#32 [Middleware1]Found Bugs
  source/edu/oakand/helper/middleware01/Bugs.txt
Labels: bug

#34 Created CargoContainer class plus tests
  source/edu/oakand/helper/database/CargoContainer.java
  source/edu/oakand/test/database/CargoContainerTest.java
Labels: Database

#36 [Admin] Added practice exercise
  docs/README.md
  docs/practice/README.md
Labels: Admin, documentation
